---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";


// utils
import {slugify,formatBlogsPosts} from "../../js/utils";


export async function getStaticPaths() 
{
    const allPosts = await Astro.glob("../blog/*.md");
    const formattedPosts = formatBlogsPosts(allPosts);
    const allcategory = [
        ...new Set(formattedPosts.map((post)=> post.frontmatter.category))
    ];

    return allcategory.map((category) =>
    {
        const categoryPosts = formattedPosts.filter((post)=>
        post.frontmatter.category === category)

        return{
            params :
            {
                category:slugify(category)
            },
            props :
            {
                name : category,
                posts : categoryPosts,
            },
        }
    })
}

const { category } = Astro.params;
const { name,posts } = Astro.props;

---

<MainLayout title={name}>
 
    <section class="container" aria-label=`Post about ${name}`>
      <h1 class="h1">Post about <span>{name}</span></h1>
      <div class="post-container"> 
        {
        posts.map((post) => (
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
              tagtype="h2"
            />
          ))
        }
      </div>
    </section>
 
  </MainLayout>
  