---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "./Link.astro";

// data imports
import navData from "../data/navData";
---

<header>
  <div class="container">
    <nav class="navbar">
      <a href="/">
        <Icon name="logo-light" width="50" class="logo-light" />
        <Icon name="logo-light" width="50" class="logo-dark" />
      </a>

      <!-- <div class="btn-group">
        <button class="theme-btn theme-btn-mobile light">
            <iconify-icon icon="akar-icons:moon-fill" class="moon" name="moon"></iconify-icon>
            <iconify-icon icon="humbleicons:sun" class="sun" name="sun"></iconify-icon>
        </button>

        <button class="nav-menu-btn">
          <iconify-icon icon="ion:menu"></iconify-icon>
        </button>
      </div> -->

      <div class="btn-group">
        <!-- <button class="theme-btn theme-btn-mobile light">
          <ion-icon name="moon" class="moon"></ion-icon>
          <ion-icon name="sunny" class="sun"></ion-icon>
        </button> -->

        <button class="nav-menu-btn">
          <iconify-icon icon="ion:menu"></iconify-icon>
        </button>
      </div>

      <div class="flex-wrapper">
        <ul class="desktop-nav">
          {
            navData.map((item) => (
              <Link
                text={item.name}
                href={item.path}
                classes="nav-link"
                isFilled={false}
                data-navLink
              />
            ))
          }
        </ul>

        <button class="theme-btn theme-btn-desktop light">
          <iconify-icon icon="humbleicons:sun"></iconify-icon>
          <iconify-icon icon="akar-icons:moon-fill"></iconify-icon>
        </button>
      </div>

      <div class="mobile-nav">
        <button class="nav-close-btn">
          <iconify-icon icon="iconamoon:close-bold"></iconify-icon>
        </button>

        <div class="wrapper">
          <p class="h3 nav-title">Main Menu</p>

          <ul>
            {
              navData.map((item) => (
                <Link
                  text={item.name}
                  href={item.path}
                  classes="nav-link"
                  isFilled={false}
                  data-navLink
                />
              ))
            }
          </ul>
        </div>

        <!-- <div>
          <p class="h3 nav-title">Topics</p>

          <ul>
            <li class="nav-item">
              <a href="#" class="nav-link">Database</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Accessibility</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Web Performance</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
  </div>
</header>

<script>
  import "../js/nav.js";
</script>
