---
//componert import

import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
  {
    prevUrl && (
      <Link
        href={prevUrl}
        borderVisible={true}
        isFilled={true}
        icon={{
          name: "tabler:arrow-big-left-line",
          side: "left",
        }}
        classes="blog-topic text-tiny"
      />
    )
  }

  {
    nextUrl && (
      <Link
        href={nextUrl}
        style="primary"
        borderVisible={true}
        isFilled={true}
        icon={{
          name: "tabler:arrow-big-right-line",
          side: "right",
        }}
        classes="blog-topic text-tiny"
      />
    )
  }
</nav>
