---
//import Library
import { Image } from "@astrojs/image/components";

//import component
import Link from "./Link.astro";

//utils import
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagtype } = Astro.props;

const Tag = tagtype;

const { title, description, author, date, category, image } = frontmatter;
---

<div class="blog-card-group">
  <div class="blog-card">
    <div class="blog-card-banner">
      <a href={url} aria-hidden="true" tabindex="-1">
        <Image
          src={image.src}
          alt={image.alt}
          width={298}
          height={285}
          format="webp"
          fit="cover"
          quality={80}
          class="blog-banner-img"
        />
      </a>
    </div>
    <div class="blog-content-wrapper">
      <a href={`/category/${slugify(category)}/`} class="blog-topic text-tiny"
        >{category}</a
      >
      <h3>
        <a href={url} class="h3">{title}</a>
      </h3>

      <p class="blog-text">
        {description}
      </p>

      <div class="wrapper-flex">
        <div class="profile-wrapper">
          <img src="../../public/images/author.jpg" alt={author} width="55" />
        </div>
        <div class="wrapper">
          <a href="{`/author/${slugify(author)}/`}" class="h4">{author}</a>
          <p class="text-sm">
            <time datetime="dd-mm-yyyy">{formatDate(date)}</time>
            <span class="separator"></span>
            <ion-icon name="time-outline"></ion-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

