---

// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";


const { frontmatter } = Astro.props;

const { title, description, author, date, category, image } = frontmatter;
---

<MainLayout {title} {description}>
 
  <PostHeader 
  {title}
  {author}
  {date}
  {category}
  {image}
  />

  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="siderbar">
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</MainLayout>
